html {
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

ul li {
  list-style: none;
}

#root {
  padding: 4rem 0;
}

.section {
  margin-bottom: .5rem;
}

.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}